html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

body {
    // font-family: 'Amatic SC', cursive;
    font-family: 'Gloria Hallelujah', cursive;
}
button {
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid grey;
  background-color: #e6e6e6;
}

.title {
    text-align: center;
    color: darkslategrey;
    font-size: 40px;
    font-weight: bold;
}
.inputBox {
    font-family: 'Gloria Hallelujah', cursive;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    border: 1px dotted grey;
    margin: auto 5px;
}
.inputButton {
    font-family: 'Gloria Hallelujah', cursive;
    // height: 40px;
    min-width: 50px;
    padding: 2px 5px;
    font-size: 16px;
    align-self: center;
    border-radius: 4px;
  background-color: #e6e6e6;
  border: 1px solid grey;
}
.list {
    margin-top: 10px;
    // border: 1px dotted grey; 
    ul {
        list-style:none;
        padding: 0;
        
            li{
                width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
        // border-bottom: 1px dotted grey;
        // border-bottom-width: 50%;
        input {
            width: 2%;
            min-width: 15px;
            
        }
                }
    }
    
}
.remButton {
    font-family: 'Gloria Hallelujah', cursive;
    width: 70px;
    
}

.buttonFiltr {
  font-family: 'Gloria Hallelujah', cursive;
  margin-left: 5px;
  height: 27px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  padding: 1px 6px;
  font-size: 13px;
  border-radius: 4px;
  background-color: #e6e6e6;
}

.clearCompleted {
  font-family: 'Gloria Hallelujah', cursive;
  // margin-left: 5px;
  // height: 30px;
  // flex-direction: row-reverse;
  // border-radius: 2px;
  
}
.foot-row {
  width: 100%;

display: flex;
flex-wrap: wrap;
margin: 0;
// justify-content:;
flex-direction: row-reverse;
align-items: center;
}
.col-1 {
  width: 8.33%; }
.col-2 {
  width: 16.66%; }
.col-3 {
  width: 25%; }
.col-4 {
  width: 33.33%; }
.col-5 {
  width: 41.66%; }
.col-6 {
  width: 50%; }
.col-7 {
  width: 58.33%; }
.col-8 {
  width: 66.66%; }
.col-9 {
  width: 75%; }
.col-10 {
  width: 83.33%; }
.col-11 {
  width: 91.66%; }
.col-12 {
  width: 100%; }

.row {
width: 100%;

display: flex;
flex-wrap: wrap;
margin: 0;
justify-content: center;
align-items: center;
}

